@charset "UTF-8";

.header{
	background-color: greenyellow;
}

.cubosAzules{
	background-color: blue;
}

.cubosGrises{
	background-color: lightgrey;
}

.caras{
	background-color: orange;
}

.footer{
	background-color: greenyellow;
}

.bloqueDisp{
	background-color: skyblue;
}

